body {
	background-image:url(profile0.jpg);
	background-size:cover;
}


.bulleted_list li .bullet {
	height:2vw;
	width:2vw;
	margin-top:1vw;
}

.stacked_panel #social {
	height: 7vw;
	padding:0vw;
}


#main_content {
	font-size:2vw;
	float:left;
	width:45vw;
	margin-top:0.5vw;
	background:rgba(0, 0, 0, 0.75);
	position: relative;
}

#name {
	font-size:7vw;
	letter-spacing:0.3vw;
}

#desc {
	margin-top:-3vw;
	letter-spacing:0.1vw;
}

#social .container {
	
	background:rgba(0, 0, 0, 1);
	overflow: hidden;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	padding: 1vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

#social .container .inline_list {
	float:right;
}

#social .container .inline_list .soc img {
	padding:0.2vw;
	vertical-align:middle;
	width:5vw;
	height:5vw;
}

#summary {
	text-align: justify;
}