body {
	background-image:url(profile1.jpg);
	background-size:cover;
}


.bulleted_list li .bullet {
	height:4vw;
	width:4vw;
	margin-top:2.5vw;
}

.stacked_panel #social {
	height: 14vw;
	padding:0vw;
	margin-top: 2vw;
}


#categories li {
	padding:1vw;
	
	padding-left:2vw;
	padding-right:2vw;
}

#desc {
	font-size:3.5vw;
	margin-top:-3vw;
	letter-spacing:0.1vw;
	background:rgba(0, 0, 0, 1);
}

#main_content {
	font-size:4.5vw;
	width:100%;
	background:rgba(0, 0, 0, 0.8);
	position: relative;
}
 
#name {
	font-size:11vw;
	letter-spacing:0.3vw;
	background:rgba(0, 0, 0, 1);
}


#social .container {
	background:rgba(0, 0, 0, 1);
	overflow: hidden;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	padding: 1vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

#social .container .inline_list {
	float:right;
}

#social .container .inline_list .soc img {
	padding:0.2vw;
	vertical-align:middle;
	width:12vw;
	height:12vw;
}

#summary {
	margin-top:1vw;
	margin-bottom:1vw;
	
	text-align: justify;
}
